table {
  /*overflow-x: auto;*/
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th{
  background-color: #eee;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
