{% extends "base.html" %}

{% block content %}

<div class="container" id="PageAvanzamento">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Timbrare il codice articolo.</p>

  <!-- CASELLA DI TESTO PER INSERIMENTO DA BARCODE -->
  <div class="ricAvanzamento">
     <input id="input_field" type="text" name="ricercaAvanzamento" size=”40″ maxlength=”20″>
  </div>
  <br><br>

  <div class="">
    <table class="t_Avanzamento">
      <tr>
        <th></th>
        <th id="cod_imp">Codice Impegno</th>
        <th id="cliente">Cliente</th>
        <th id="cod_art">Codice Articolo</th>
        <th id="desc_art">Descrizione</th>
        <th id="data_cons_art">Data consegna</th>
        <th id="qt_art">Quantità</th>
        <th id="id_riga_imp">id imp art</th>
      </tr>
      <tr class="hide">
        <td class="control"><i class="open-dialog fa fa-arrow-circle-right"></i></td>
        <td headers="cod_imp" contenteditable="false" class="search_imp_lt" id="first_cell"></td>
        <td headers="cliente" contenteditable="false"></td>
        <td headers="cod_art" contenteditable="false"></td>
        <td headers="desc_art" contenteditable="false"></td>
        <td headers="data_cons_art" contenteditable="false"></td>
        <td headers="qt_art" contenteditable="false"></td>
        <td headers="id_riga_imp" contenteditable="false"></td>
      </tr>
    </table>
  </div>
  <br>
</div>
<br>

  <!-- FINE TABELLA SELEZIONE
      APERTURA BOX DI AVANZAMENTO LAVORI-->
<div id="box">
  <div id="dialog_Avanzamento" title="Stampa avanzamento produzione" class="hide">
      <p>Dati Impegno.</p>
      <table class="t_imp">
        <tr>
          <th id="cod_imp">Codice Impegno</th>
          <th id="cliente">Cliente</th>
          <th id="data_comp">Data compilazione</th>
          <th id="id_imp">ID imp</th>
        </tr>
        <tr class="hide">
          <td headers="cod_imp" contenteditable="false"></td>
          <td headers="cliente" contenteditable="false"></td>
          <td headers="data_comp" contenteditable="false"></td>
          <td headers="id_imp" contenteditable="false"></td>
        </tr>
      </table>

      <br>
      <p>Dati Articolo.</p>
      <table class="t_art">
        <tr>
          <th id="cod_art">Codice Articolo</th>
          <th id="desc_art">Descrizione</th>
          <th id="qt_art">Qt</th>
          <th id="data_cons_art">Data consegna</th>
          <th id="id_riga_imp">ID riga</th>
        </tr>
        <tr class="hide">
          <td headers="cod_art" contenteditable="false"></td>
          <td headers="desc_art" contenteditable="false"></td>
          <td headers="qt_art" contenteditable="false"></td>
          <td headers="data_cons_art" contenteditable="false"></td>
          <td headers="id_riga_imp" contenteditable="false"></td>
        </tr>
      </table>

      <br><br>
      <p>Dati Componenti in produzione.</p>
      <table class="t_comp">
        <tr>
          <th id="cod_comp">Codice Componente</th>
          <th id="desc_comp">Descrizione</th>
          <th id="grezzo">Grezzo</th>
          <th id="qt_comp">Qt.</th>
          <th id="id_produzione">Avanzamento</th>
          <th id="scadenza">Scadenza consegna</th>
          <th id="id_riga_dett">ID riga</th>
        </tr>
        <tr class="hide">
          <td headers="cod_comp" contenteditable="false"></td>
          <td headers="desc_comp" contenteditable="false"></td>
          <td headers="grezzo" contenteditable="false"></td>
          <td headers="qt_comp" contenteditable="false"></td>
          <td headers="id_produzione" class="control_prod">
            <select class="action" name="">
              <option value="0">scegliere</option>
              <option value="1">Da ordinare</option>
              <option value="2">Da Tagliare</option>
              <option value="3">Verificare a mag</option>
              <option value="4">Ufficio Tecnico</option>
              <option value="5">Ordinato</option>
              <option value="6">Materiale Arrivato</option>
              <option value="7">Mat tagliato</option>
              <option value="8">Carico grezzo</option>
              <option value="9">Carico parz lavorato</option>
              <option value="10">Carico finito</option>
              <option value="11">Inizio prod Isorella</option>
              <option value="12">Fine prod Isorella</option>
              <option value="13">Parziale prod Isorella</option>
            </select>
          </td>
          <td headers="scadenza" contenteditable="false"></td>
          <td headers="id_riga_dett" contenteditable="false"></td>
        </tr>
      </table>
  </div>

<button id="test_btn">Test dialog</button>
<br>

{% endblock %}
