<html>
    <head>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">



      <title>LAVORAZIONI sam&mago 2.0</title>
    </head>
    <body>
      <div class="title" style="padding-left:16px">
        <h1>PROGRESSO LAVORAZIONI</h1>
        <h3>Vers: 2.0.0 pre alpha developers only
      </div>
      <div class="topnav" id="myTopnav">
        <a id="home" class="active" href="{{ url_for('index') }}">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Ufficio tecnico
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a id="newArticolo" href="{{ url_for('NuovoArticolo') }}">Inserimento articolo</a>
            <a id="newComponente" href="{{ url_for('NuovoComponente') }}">Inserimento componente</a>
            <a id="newImpegno" href="{{ url_for('NuovoImpegno') }}">Inserimento impegno</a>
          </div>
        </div>
        <a id="about">About</a>

        <div class="login-container">
        <div>
          <a class="login" href="{{ url_for('login') }}">Login</a>
        </div>
      </div>
      </div>
      <div style="padding:0px 16px 0px 16px">
        {% if title %}
        <h3>{{ title }}</h3>
        {% else %}
        <p>News: On year 2020 vers: 2.0.1 for beta tester.</p>
        {% endif %}

        {% block content %}{% endblock %}
        <br>
        <button id="export_btn">Export Data</button>
        <button id="load_btn">Load Data</button>
        <p id='output_text'></p>
        <hr>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
</html>
