{% extends "base.html" %}

{% block content %}

<div class="container" id="listaTaglio">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Inserire i dati dell' impegno da produrre.</p>

  <div class="">
    <table class="t_imp">
      <tr>
        <th id="cod_imp">Codice Impegno</th>
        <th id="cliente">Cliente</th>
        <th id="cod_ord_cli">Num. ord. cliente</th>
        <th id="data_ord">Data ordine</th>
        <th id="id_imp">id imp</th>
      </tr>
      <tr>
        <td headers="cod_imp" contenteditable="true" class="search_imp_lt" id="first_cell"></td>
        <td headers="cliente" contenteditable="false"></td>
        <td headers="cod_ord_cli" contenteditable="false"></td>
        <td headers="data_ord" contenteditable="false"></td>
        <td headers="id_imp" contenteditable="false"></td>
      </tr>
    </table>
  </div>
  <br>
  <div class="">
    <table class="t_art">
      <tr>
        <th></th>
        <th id="cod_art">Codice Articolo</th>
        <th id="desc_art">Descrizione</th>
        <th id="data_cons_art">Data consegna</th>
        <th id="qt_art">Quantità</th>
        <th id="id_riga_imp">id imp art</th>
      </tr>
      <tr class="hide">
        <td class="control"><i class="open-dialog fa fa-arrow-circle-right"></i></td>
        <td headers="cod_art" contenteditable="false"></td>
        <td headers="desc_art" contenteditable="false"></td>
        <td headers="data_cons_art" contenteditable="false"></td>
        <td headers="qt_art" contenteditable="false"></td>
        <td headers="id_riga_imp" contenteditable="false"></td>
      </tr>
    </table>
  </div>
  <br>
  <div class="">
    <table class="t_comp">
      <tr>
        <th class="control"><i class="open-dialog-comp fa fa-arrow-circle-right"></i></th>
        <th id="cod_comp">Codice Componente</th>
        <th id="desc_comp">Descrizione</th>
        <th id="data_cons_comp">Data consegna</th>
        <th id="qt_comp">Quantità</th>
        <th id="id_riga_imp_comp">id imp comp</th>
      </tr>
      <tr class="hide">
        <td></td>
        <td headers="cod_comp" contenteditable="false"></td>
        <td headers="desc_comp" contenteditable="false"></td>
        <td headers="data_cons_comp" contenteditable="false"></td>
        <td headers="qt_comp" contenteditable="false"></td>
        <td headers="id_riga_imp_comp" contenteditable="false"></td>
      </tr>
    </table>
  </div>
</div>
<br>

  <!-- FINE TABELLA SELEZIONE
      APERTURA BOX DI SELEZIONE TAGLIO-->


<div id="box">
  <div id="dialog_comp" title="Stampa liste taglio-ordine" class="hide">
    <p>
      <table class="t_comp">
        <tr>
          <th id="cod_comp">Codice Componente</th>
          <th id="desc_comp">Descrizione</th>
          <th id="dim_comp">Dimensione</th>
          <th id="mat_comp">Materiale</th>
          <th id="qt_comp">Qt Componente</th>
          <th id="id_produzione">Azione</th>
          <th id="id_riga_imp_comp">ID Comp Impegno</th>
        </tr>
        <tr class="hide">
          <td headers="cod_comp" contenteditable="true"></td>
          <td headers="desc_comp" contenteditable="false"></td>
          <td headers="dim_comp" contenteditable="false"></td>
          <td headers="mat_comp" contenteditable="false"></td>
          <td headers="qt_comp" contenteditable="true"></td>
          <td headers="id_produzione" class="control_prod">
            <select class="action" name="">
              <option value="0">scegliere</option>
              <option value="1">Da ordinare</option>
              <option value="2">Da Tagliare</option>
              <option value="3">Verificare a mag</option>
              <option value="4">Ufficio Tecnico</option>
              <option value="5">Ordinato</option>
              <option value="6">Materiale arrivato</option>
            </select>
          </td>
          <td headers="id_riga_imp_comp" contenteditable="false"></td>
        </tr>
      </table>
    </p>
  </div>
  <div id="dialog0" title="Stampa liste taglio-ordine" class="hide">
    <p>
      <table class="t_art">
        <tr class="headers">
          <th id="cod_art">Codice Articolo</th>
          <th id="desc_art">Descrizione</th>
          <th id="data_cons_art">Data consegna</th>
          <th id="qt_art">Quantità</th>
          <th id="id_riga_imp">id imp art</th>
        </tr>
        <tr>
          <td headers="cod_art" contenteditable="false" class=""></td>
          <td headers="desc_art" contenteditable="false"></td>
          <td headers="data_cons_art" contenteditable="false"></td>
          <td headers="qt_art" contenteditable="true"></td>
          <td headers="id_riga_imp" contenteditable="false"></td>
        </tr>
      </table>
      <table class="t_comp">
        <tr>
          <th id="cod_comp">Codice Componente</th>
          <th id="desc_comp">Descrizione</th>
          <th id="dim_comp">Dimensione</th>
          <th id="mat_comp">Materiale</th>
          <th id="qt_comp">Qt Componente</th>
          <th id="id_produzione">Azione</th>
          <th id="id_riga_dett">ID Comp Impegno</th>
        </tr>
        <tr class="hide">
          <td headers="cod_comp" contenteditable="true"></td>
          <td headers="desc_comp" contenteditable="false"></td>
          <td headers="dim_comp" contenteditable="false"></td>
          <td headers="mat_comp" contenteditable="false"></td>
          <td headers="qt_comp" contenteditable="true"></td>
          <td headers="id_produzione" class="control_prod">
            <select class="action" name="">
              <option value="0">scegliere</option>
              <option value="1">Da ordinare</option>
              <option value="2">Da Tagliare</option>
              <option value="3">Verificare a mag</option>
              <option value="4">Ufficio Tecnico</option>
              <option value="5">Ordinato</option>
              <option value="6">Materiale arrivato</option>
            </select>
          </td>
          <td headers="id_riga_dett" contenteditable="false"></td>
        </tr>
      </table>
    </p>
  </div>

<button id="test_btn">Test dialog</button>
<br>

{% endblock %}
