{% extends "base.html" %}

{% block content %}

<div class="container" id="newMagazzino">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Timbrare il codice dell' articolo da verificare.</p>

<!-- CASELLA DI TESTO PER INSERIMENTO DA BARCODE -->
<div class="ricMagazzino">
   <input id="input_field" type="text" name="ricercaMagazzino" size=”40″ maxlength=”20″>
</div>
<br><br>

  <div class="">
    <table class="t_imp_art">
      <tr>
        <th id="cod_art">Codice Articolo</th>
        <th id="desc_art">Descrizione</th>
        <th id="cliente">Cliente</th>
        <th id="cod_imp">Codice Impegno</th>
        <th id="data_cons_art">Data consegna</th>
      </tr>
      <tr class="hide">
        <td headers="cod_art" contenteditable="false"></td>
        <td headers="desc_art" contenteditable="false"></td>
        <td headers="cliente" contenteditable="false"></td>
        <td headers="cod_imp" contenteditable="false"></td>
        <td headers="data_cons_art" contenteditable="false"></td>
      </tr>
    </table>
  </div>
  <br>  <br>
  <div class="">
    <table class="t_Mag"><!-- è la tabella t_comp contenuti in t_art. Non i t_comp singoli -->
      <tr>
        <th id="cod_comp">Codice Componente</th>
        <th id="desc_comp">Descrizione</th>
        <th id="dim_comp">Dimensione</th>
        <th id="mat_comp">Materiale</th>
        <th id="qt_comp">Qt Componente</th>
        <th id="grezzo">Grezzo</th>
        <th id="id_produzione">Azione</th>
        <th id="id_riga_imp_comp">ID Comp Impegno</th>

      </tr>
      <tr class="hide">
        <td headers="cod_comp" contenteditable="false"></td>
        <td headers="desc_comp" contenteditable="false"></td>
        <td headers="dim_comp" contenteditable="false"></td>
        <td headers="mat_comp" contenteditable="false"></td>
        <td headers="qt_comp" contenteditable="false"></td>
        <td headers="grezzo" contenteditable="false"></td>
        <td headers="id_produzione" class="control_prod">
          <select class="action" name="">
            <option value="0" disabled>scegliere</option>
            <option value="1" disabled>Da ordinare</option>
            <option value="2" disabled>Da Tagliare</option>
            <option value="3">Verificare a mag</option>
            <option value="4" disabled>Ufficio Tecnico</option>
            <option value="5" disabled>Ordinato</option>
            <option value="6" disabled>Materiale Arrivato</option>
            <option value="7" disabled>Mat tagliato</option>
            <option value="8" disabled>Carico grezzo</option>
            <option value="9" disabled>Carico parz lavorato</option>
            <option value="10" disabled>Carico finito</option>
            <option value="11" disabled>Inizio prod Isorella</option>
            <option value="12" disabled>Fine prod Isorella</option>
            <option value="13" disabled>Parziale prod Isorella</option>
            <option value="14">Presenza totale</option>
            <option value="15">Presenza parziale</option>
          </select>
        </td>
        <td headers="id_riga_dett" contenteditable="false"></td>
      </tr>
    </table>
  </div>
</div>
<br>


{% endblock %}
