{% extends "base.html" %}

{% block content %}

<div class="container" id="newImpegno">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Inserire i dati relativi all' ordine.</p>
  <div id="">
    <table class="t_imp">
      <tr class="header">
        <th id="cod_imp">Codice Impegno</th>
        <th id="cliente">Cliente</th>
        <th id="cod_ord_cli">Num. ord. cliente</th>
        <th id="data_ord">Data ordine</th>
        <th id="id_imp">ID Impegno</th>
      </tr>
      <tr>
        <td headers="cod_imp" contenteditable="true" class="search_imp" id="first_cell"></td>
        <td headers="cliente" contenteditable="true"></td>
        <td headers="cod_ord_cli" contenteditable="true"></td>
        <td headers="data_ord" contenteditable="true"></td>
        <td headers="id_imp" contenteditable="false"></td>
      </tr>
    </table>

    <br>

    <p>Inserire i dati relativi al cilindro.</p>
    <table class="t_art">
      <tr class="header">
        <th id="cod_art">Codice Articolo</th>
        <th id="desc_art">Descrizione</th>
        <th id="qt_art">Quantità</th>
        <th id="data_cons_art">Data consegna</th>
        <th id="id_art">ID Articolo</th>
        <th id="id_riga_imp">ID Riga</th>
        <th class="control"><i class="table-add fa fa-plus"></i></th>
      </tr>
      <tr class="hide">
        <td headers="cod_art" contenteditable="true" class="search_art"></td>
        <td headers="desc_art" contenteditable="false"></td>
        <td headers="qt_art" contenteditable="true"></td>
        <td headers="data_cons_art" contenteditable="true"></td>
        <td headers="id_art" contenteditable="false"></td>
        <td headers="id_riga_imp" contenteditable="false"></td>
        <td class="control"><i class="table-remove fa fa-times"></i></td>
      </tr>
    </table>

    <br>
  </div>
</div>

{% endblock %}
