{% extends "base.html" %}

{% block content %}

<div class="container" id="newComponente">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Inserire i dati relativi al componente singolo.</p>
  <div id="">
    <table class="t_comp">
      <tr class="header">
        <th id="cod_comp">Codice Componente</th>
        <th id="desc_comp">Descrizione</th>
        <th id="dim_comp">Dimensione</th>
        <th id="mat_comp">Materiale</th>
        <th id="grezzo">Disegno Grezzo</th>
        <th id="id_comp">ID Componente</th>
        <th class="control"><i class="table-add fa fa-plus"></i></th>
      </tr>
      <tr>
        <td headers="cod_comp" contenteditable="true" class="search_comp"></td>
        <td headers="desc_comp" contenteditable="true"></td>
        <td headers="dim_comp" contenteditable="true"></td>
        <td headers="mat_comp" contenteditable="true"></td>
        <td headers="id_comp" contenteditable="false"></td>
        <td headers="grezzo" contenteditable="true"></td>
        <td class="control"><i class="table-remove fa fa-times"></i></td>
      </tr>
      <tr class="hide">
        <td headers="cod_comp" contenteditable="true" class="search_comp"></td>
        <td headers="desc_comp" contenteditable="true"></td>
        <td headers="dim_comp" contenteditable="true"></td>
        <td headers="mat_comp" contenteditable="true"></td>
        <td headers="grezzo" contenteditable="true"></td>
        <td headers="id_comp" contenteditable="false"></td>
        <td class="control"><i class="table-remove fa fa-times"></i></td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
