{% extends "base.html" %}

{% block content %}

<div class="container" id="newProdIso">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Timbrare i codici dei componenti trasportati.</p>

<!-- CASELLA DI TESTO PER INSERIMENTO DA BARCODE -->
<div class="ricIsorella">
   <input id="input_field" type="text" name="ricercaProd" size=”40″ maxlength=”20″>
</div>
<br><br>

  <div class="">
  </div>
  <br>  <br>
  <div class="">
    <table id="tabella_isorella" class="t_compIsorella"><!-- è la tabella è uguale a quella del taglio -->
      <tr>
        <th id="cod_comp">Codice Componente</th>
        <th id="desc_comp">Descrizione</th>
        <th id="dim_comp">Dimensione</th>
        <th id="mat_comp">Materiale</th>
        <th id="qt_comp">Qt Componente</th>
        <th id="cod_imp">Impegno</th>
        <th id="cod_art">Articolo</th>
        <th id="id_produzione">Azione</th>
        <th id="id_riga_dett">ID Comp</th>
        <th class="control">Canc Riga</th>
      </tr>
      <tr class="hide">
        <td headers="cod_comp" contenteditable="false"></td>
        <td headers="desc_comp" contenteditable="false"></td>
        <td headers="dim_comp" contenteditable="false"></td>
        <td headers="mat_comp" contenteditable="false"></td>
        <td headers="qt_comp" contenteditable="false"></td>
        <td headers="cod_imp" contenteditable="false"></td>
        <td headers="cod_art" contenteditable="false"></td>
        <td headers="id_produzione" class="control_prod">
          <select class="action" name="">
            <option value="0" disabled>scegliere</option>
            <option value="1" disabled>Da ordinare</option>
            <option value="2" disabled>Da Tagliare</option>
            <option value="3" disabled>Verificare a mag</option>
            <option value="4" disabled>Ufficio Tecnico</option>
            <option value="5" disabled>Ordinato</option>
            <option value="6" disabled>Materiale Arrivato</option>
            <option value="7" disabled>Mat tagliato</option>
            <option value="8" disabled>Carico grezzo</option>
            <option value="9" disabled>Carico parz lavorato</option>
            <option value="10" disabled>Carico finito</option>
            <option value="11">Inizio prod Isorella</option>
            <option value="12">Fine prod Isorella</option>
            <option value="13">Parziale prod Isorella</option>
            <option value="14" disabled>Presenza totale</option>
            <option value="15" disabled>Presenza parziale</option>
          </select>
        </td><td headers="id_riga_dett" contenteditable="false"></td>
        <td class="control"><i class="table-remove fa fa-times"></i></td>
      </tr>
    </table>
  </div>
</div>
<br>


{% endblock %}
