<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tabella</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabella.css') }}">
  </head>
  <body>
    <table style="width:auto">
      <thead>
        <tr>
          <th style="width:200px">id_comp.11111</th>
          <th colspan="2" style="width:250px">Cliente</th>
          <th style="width:100px">IMPEGNO</th>
          <th style="width:100px">999/20</th>
          <th style="width:150px">Consegna</th>
          <th>01/01/20</th>
          <th>Data comp.</th>
          <th>01/01/20</th>
        </tr>
        <tr>
          <th rowspan="2" style="width:200px">LOGO</th>
          <th colspan="2" style="width:250px">BIEMME MACHINE</th>
          <th style="width:100px">Martinetto</th>
          <th colspan="2" style="width:250px">DE 90/80x2600</th>
          <th>Codice</th>
          <th colspan="2">1BMS00100</th>
        </tr>
        <tr>
          <th style="width:50px">Q.tà</th>
          <th style="width:150px">Dis.Particolare</th>
          <th colspan="2" style="width:250px">Descrizione</th>
          <th style="width:150px">Dimensioni</th>
          <th colspan="2" style="width:250px">materiale</th>
          <th>TG</th>
        </tr>
      </thead>

    </table>
  </body>
</html>
