{% extends "base.html" %}

{% block content %}
<div class="loader" hidden=true></div>
<div class="container" id="newTaglio">
  <p>Per apportare modifiche contattare Simone</p>
  <p>Timbrare il codice dei componenti tagliati in un cassone.</p>

<!-- CASELLA DI TESTO PER INSERIMENTO DA BARCODE -->
<div class="ricIsorella">
   <input id="input_field" type="text" name="ricercaTaglio" size=”40″ maxlength=”20″>
</div>
<br><br>

  <div class="">
  </div>
  <br>  <br>
  <div class="">
    <table id="tabella_isorella" class="t_compIsorella"><!-- è la tabella t_comp contenuti in t_art. Non i t_comp singoli -->
      <tr>
        <th id="cod_comp">Codice Componente</th>
        <th id="desc_comp">Descrizione</th>
        <th id="dim_comp">Dimensione</th>
        <th id="mat_comp">Materiale</th>
        <th id="qt_comp">Qt Componente</th>
        <th id="cod_imp">Impegno</th>
        <th id="cod_art">Articolo</th>
        <th id="id_produzione">Azione</th>
        <th id="id_riga_dett">ID Comp</th>
        <th class="control">Canc Riga</th>
      </tr>
      <tr class="hide">
        <td headers="cod_comp" contenteditable="false"></td>
        <td headers="desc_comp" contenteditable="false"></td>
        <td headers="dim_comp" contenteditable="false"></td>
        <td headers="mat_comp" contenteditable="false"></td>
        <td headers="qt_comp" contenteditable="false"></td>
        <td headers="cod_imp" contenteditable="false"></td>
        <td headers="cod_art" contenteditable="false"></td>
        <td headers="id_produzione" class="control_prod">
          <select class="action" name="">
            <option value="7">Mat tagliato</option>
          </select>
        </td><td headers="id_riga_dett" contenteditable="false"></td>
        <td class="control"><i class="table-remove fa fa-times"></i></td>
      </tr>
    </table>
  </div>
  <br>
  <button id="test_btn">Export Data</button>
</div>
<br>
<iframe name="tmpFrame" id="tmpFrame" width="1" height="1" style="visibility:hidden;position:absolute;display:none"></iframe>


{% endblock %}
